body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.footer_bg{
    padding-top: 5%;
    width: 100%;
    background-color: #E5F0D6;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
}
.ico{
    margin: 10px; /* Ajusta el margen para separar las imágenes */
    width: 50%;
    transition: 0.3s ease;
}
.ico:hover{
    transform: scale(1.2);
}
.icons_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.footer-img{
    float: left;
    padding-right: 5px;
    transition: 0.3s ease;
}
.footer-img:hover{
    transform: scale(1.1);
}
