/* para  que el scroll a las secciones sea bonito*/
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.header-bg {
    width: 100%;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    /* Agregamos estas propiedades para hacer la imagen de fondo responsive */
}
.header-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    padding: 20px;
    /* Modificamos para que ocupe el 100% del ancho del viewport */
}
.header-sign {
    width: 80%;
    max-width: 600px; /* Limitamos el ancho máximo para que no se vea excesivamente grande en pantallas muy grandes */
    margin: 0 auto; /* Centramos el contenido */
}
.header-img {
    width: 80%; /* Reducimos el tamaño de la imagen */
    max-width: 300px; /* Limitamos el ancho máximo para que no se vea excesivamente grande en pantallas muy grandes */
    margin: 5rem auto 5rem; /* Centramos la imagen */
}
.header-text {
    font-size: 2.5rem;
    margin: 20px 0; /* Añadimos un espacio en la parte superior e inferior */
}
.shadowed {
    text-shadow: 1px 1px 2px black;
}
.nav-container {
    display: flex;
    justify-content: center;
    background-color: rgba(109, 140, 199, 0.65);
    padding: 10px 0; /* Añadimos un espacio alrededor del contenedor */
}
.nav-button {
    text-decoration: none;
    font-size: 1.5rem; /* Reducimos el tamaño del texto */
    margin: 5px; /* Añadimos espacio entre los botones */
    padding: 10px 20px; /* Aumentamos el espacio interno de los botones */
    color: black;
    transition: 0.3s ease;
}
.nav-button:hover {
    color: white;
}

/* fuente */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* media queries */
@media screen and (max-width: 768px) {
    /* Hacemos que el texto sea responsive */
    /* Reducimos el tamaño del texto en dispositivos más pequeños */
    .header-text {
        font-size: 2rem;
    }
}
@media screen and (max-width: 480px) {
    /* cambio orientación del grid */
    .header-div{
        grid-template-columns: 1fr;
    }
    /* para que se vea más la imagen del header */
    .header-bg{
        background-position: center;
    }
    /* remuevo margen en pantallas pequeñas */
    .header-img{
        margin: 0 auto;
    }
    /* bajo tamaño de texto en pantallas pequeñas */
    .header-text{
        font-size: 1.5rem;
    }
}